h1 {
  position: absolute;
  width: 100px;
  height: 55px;
  left: 138px;
  top: 160px;

  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #2ff522;
  -webkit-text-stroke: 1px black;
  line-height: 43px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
  position: absolute;
  width: 259px;
  height: 22px;
  left: 58px;
  top: 210px;

  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.1em;

  color: #2ff522;
}

h4 {
  position: absolute;
  width: 127px;
  height: 20px;
  left: 208px;
  top: 460px;

  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 135.5%;
  /* or 20px */

  color: #8699da;
}

h5 {
  position: absolute;
  width: 259px;
  height: 22px;
  left: 58px;
  top: 230px;

  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.1em;

  color: #22a1f5;
}
.userAuthBox {
  position: absolute;
  width: 300px;
  height: 66px;
  left: 38px;
  top: 300px;
  background-color: aliceblue;
  border-radius: 16px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.passwordAuthBox {
  position: absolute;
  width: 300px;
  height: 66px;
  left: 38px;
  top: 400px;
  background-color: aliceblue;
  border-radius: 16px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.AuthDetailsHolder {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0%;
  margin-left: 3%;
  margin-top: 3%;
  padding-inline-start: 0;
}
.userform {
  padding-inline-start: 10px;
}
.label2 {
  padding-top: 2%;
  display: flex;
  align-self: flex-start;
  color: black;
  list-style-type: none;
}

.input {
  width: 180px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  background-color: transparent;
}

.cont {
  position: absolute;
  width: 320px;
  height: 36px;
  left: 28px;
  top: 530px;
}

.socialMlogin {
  position: relative;
  top: 600px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
}

.loginBtn {
  padding: 0%;
  background-color: transparent;
  border-style: none;
}
